
#entete {
    background-color: rgb(248,248,248);
}

#img_entete {
    margin-left: -15px;
}

#banderole {
    background-color: rgb(249,205,18);
}

#body {
    margin-top: 50px;
    margin-bottom: 50px;
}

.titre {
    font-size: 1.7em;
    text-align: center;
}

.decoration {
    text-align: center;
    margin-bottom: 25px;
}

#basDePage {
    background-color: rgb(239,239,239);
}

#cadre {
    margin: auto;
    padding: 100px;
}

.texte {
    margin-bottom: 15px;
    text-align: center;
}

.menu {
    text-align: center;
    margin-top: 10px;
}

#box {
    padding: 50px;
    margin-top: 150px;
    margin-left: -20px;
}

#bordure {
    height: 30px;
}
